* {
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(247, 247, 247)
}

/* Navbar */
.header {
  border-bottom: 0.6px solid rgba(128, 128, 128, 0.938) !important;
}

/* Gallery */
.lg-react-element {
  column-count: 3;
  column-gap: 10px;
}

img {
  max-width: 100%;
  max-height: 400px;
  display: block;
  padding: 5px 0px;
  border-radius: 20px;
  transition: transform 0.2s;
}

img:hover {
  filter: opacity(.9);
  transform: scale(1.01);
}

/* uploadGallery */


.child {
  background-color: white;
  width: 50%;
  padding: 10px 20px;
  margin: 20px auto;
  border-radius: 10px;
}

.galleryData {
  background-color: white;
  width: 70%;
  padding: 10px 20px;
  margin: 20px auto;
  border-radius: 10px;
}

.crudIcon {
  margin: 0 10px;

}

td span {
  cursor: pointer;
}

/* model */
.useModelParent span {
  font-size: 2rem;
  color: red;
  cursor: pointer;
}

/* auth */
.outerSignin {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: -120px;

}

.outerdivfor {
  margin-top: -190px;
}


.logUpper {
  margin-top: 80px;
}

.outerdivlog {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 450px;
  width: 400px;
  align-self: center;
  margin-bottom: 40px;
  border: 1px solid #EEEEEE;
}

.headerupperlogin {
  padding: 30px;
  font-weight: 700;
}

.outerdivlogin {
  border-radius: 20px;
  border: 5px solid black;
  height: 80%;
  width: 100%;
}

.namelogin {
  margin-left: 40px;
  margin-bottom: 20px;
}

.btnlogin {
  background-color: #000;
  color: #fff;
}

.btnlogin:hover {
  background-color: #000;
  color: #fff;
}

.forgotlogin {

  font-size: 0.7rem;
  font-weight: 700;
  cursor: pointer;
}

.signuplog span {
  font-size: 0.8rem;
  font-weight: 500;
  color: #000;
  cursor: pointer;
}

@media screen and (max-width:700px) {
  .logUpper {
    display: none !important;
  }
}

@media screen and (max-width:400px) {
  .logUpper {
    display: none !important;
  }

  .headerupperlogin {
    font-size: small;
    font-weight: 800;
  }

  .outerdivlogin {
    border-radius: 20px;
    border: 5px solid black;
    height: 90%;
    width: 100%;
  }

}

@media screen and (max-width:364px) {
  .logUpper {
    display: none !important;
  }

  .headerupperlogin {
    display: none !important;
  }
}

/* loader */
.loader {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader div {
  height: 50px;
  width: 50px;
}